%script{:src => "//maps.google.com/maps/api/js?v=3.18&sensor=false&client=&key=&libraries=geometry&language=&hl=&region="}
%script{:src => "http://cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js", :type => "text/javascript"}
%script{:src => "http://cdn.rawgit.com/googlemaps/js-rich-marker/gh-pages/src/richmarker-compiled.js", :type => "text/javascript"}
%script{:src => "http://cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js", :type => "text/javascript"}

- content_for :features, "template-page"
- content_for :class, "template-page"
/ Navbar will come here
/ end navbar
.wrapper.map-page
  .sidebar.main.pull-left.col-lg-2.col-md-1.col-sm-1.col-xs-1
    qwerty
  .main.pull-right.col-lg-10.col-md-11.col-sm-11.col-xs-11
    .header
      %nav.navbar.navbar-info{:role => "navigation"}
        .container-fluid
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            %ul.nav.navbar-nav
              %li.active
                %a{:href => "#"} Link
              %li
                %a{:href => "#"} Link
              %li.dropdown
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  Dropdown
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"} Action
                  %li
                    %a{:href => "#"} Another action
                  %li
                    %a{:href => "#"} Something else here
                  %li.divider
                  %li
                    %a{:href => "#"} Separated link
                  %li.divider
                  %li
                    %a{:href => "#"} One more separated link
    .container
      .main-raised{ style: "width: 100%;height: 100%" }
        #map{style: "width: 100%; height: 100%" }

      :javascript
        buildMap(#{raw @hash.to_json});

    = render partial: 'home/message_box'
